<%= simple_form_for @auction do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :goal, as: :string %>
  <%= f.input :end_date %>
  <%= f.input :address %>
  <h2>Bids</h2>
  <%= f.error :bids %>
  <%= f.simple_fields_for :bids do |r| %>
    <%= render "bid_fields", f: r %>
  <% end %>
  <div class="links">
    <%# link_to_add_association helped method comes from the Cocoon gem %>
    <%= link_to_add_association "Add Bid", f, :bids  %>
  </div>
  <%= f.submit %>
<% end %>
