<div class="container-fluid">

          <div class="row">
                      <%= form_for [@topic, @stream] do |f| %>
                      <div class="col-md-10 text-justify">
                          <span  class="form_stream">
                              <label class="label"><%= f.label "Lecture", class: "label" %></label>
                              <%= f.text_field :lecture_id, readonly: true, value: "#{@lecture.chapter}. #{@lecture.subject}", class: "tfield" %>
                          </span>
                          <span  class="form_stream">
                              <label class="label"><%= f.label "Topic", class: "label"  %></label>
                              <%= f.text_field :topic_id, readonly: true, value: "#{@topic.number}. #{@topic.title}", class: "tfield" %>
                          </span>

                          <span  class="form_stream">
                              <label class="label"><%= f.label "Description", class: "label"  %></label>
                              <%= f.text_field :description, placeholder: 'describe this Stream here (optional).', size: '100%', class: "tfield" %>
                          </span>

            </div>
            <div class="col-md-2">
                <div></div>
                <%= f.submit "", id: 'stream_submit', class: "tam-button", type: :image, src: "#{ asset_path 'bt_stream.png' }" %>
            </div>
            <% end %>

          </div>
          <div class="row">
              <div class="col-md-10">
                  <div style="background: gray;">
                      <div id="videos-container"></div>
                      <video id="teste" width="320" height="240" autoplay></video>
                  </div>
              </div>
              <div class="col-md-2">
                  <div></div>
              </div>
          </div>
</div>
